/* Header */

#headercontent-inner {
background: url(../images/header.png) 0 0 transparent;
}

#headercontent-wrapper .section {
margin-bottom: 2px;
border-bottom: 1px solid #B8B6B8;
}

#site-name {
    line-height: 80%;
    font-size: 22px;
}

#site-slogan {
margin-top: -3px;
}

#header {
color: #161616;
}

/* #header a:link {
    color: #161616;
}
                        Keeping the originals, unchanged, just in case!
#header a:visited {
    color: #161616;
} */

#header a:hover, #header a:focus {
    color: #161616;
}
#header a:active {
    color: #161616;
}

/* Navbar */

#navbar-wrapper {
background: url(../images/navbar-right.png) repeat-x 0 0 #B8B6B8;
height: 27px;
border-bottom: 1px solid #B8B6B8;
}

#navbar-wrapper .column.NavbarLeft {
background: url(../images/navbar-left.png) repeat-x scroll 0 0 transparent;
height: 27px
}

#nav ul.menu  li.active-trail,
#nav ul.menu  li:hover, 
#nav .menu li li:hover, 
#nav .menu li li li:hover,
#superfish ul.menu  li.active-trail,
#superfish ul.menu  li:hover, 
#superfish .menu li li:hover, 
#superfish .menu li li li:hover {
        background: url(../images/nav-hv7.png) repeat 0 0 transparent !important;
}

#navigation {
color: #fff;
}

#navigation .section {
    line-height: 1em;
}

#navigation a:link {
    color: #fff;
}
#navigation a:visited {
    color: #fff;
}
#navigation a:hover, #header a:focus {
    color: #161616;
}
#navigation a.active {
    color: #161616;
    background: url(../images/nav-hv7.png) repeat-x 0 0 transparent;

}


/* Feature & Panels */

.front #feature-wrapper .region {
height: 282px;
}

.center-wrapper {
    color: #222;
}

.region-sidebar-first .block h2.title, 
.region-sidebar-second .block h2.title, 
div.admin-panel h3,
.whats-new h2.pane-title {
background-color: #yellow;
color: #gray;
}

.panel-panel .collection-list h2.pane-title {
background-color: #gray
}

/* Manually Fixing Wonky Spacing Issues */

.panels-flexible-row-last {
    margin-left: 6px;
    margin-top: 10px;
}

.panels-flexible-column-3-3 {
    margin-left: 1px;
}

.column.HeaderLeft {
    margin-bottom: -10px;
}

div.pane-content {
    padding: 5px;
    padding-right: 10px;
}

div.pane-content p {
    text-align: justify;
    margin-top: 0px;

}

img.spotimg    {
    margin-right: 12px;
    border: 1px solid #B8B6B8;
}

p.newbox {
    margin-right: 15px;
    margin-left: 10px;
}

.collections {
    list-style-type:none;
    margin-top: -5px;
    padding-top: 0px;
}

/* Tweaking Colors */

body {
    background-color: #BBCEE0;
}

.whats-new h2.pane-title {
    background-color: #718ba2 !important;
}

#header a:link {
    color: #fff !important;
}

#header a:visited {
    color: #fff !important;
}

#content-area {
    background-color: #E6E7E8 !important;
    margin-bottom: -10px;
}