/* $Id: panels-styles.css,v 1.1.2.1 2009/12/12 15:31:54 johnalbin Exp $ */

/**
 * @file
 * Panels Styling
 */

.whats-new {
    min-height: 315px;
    height: auto !important;
    height: 315px;
    width: 215px;
}

#homepage_intro {
    background-color: #e6e7e8;
    background-image: url("../images/unc-feature-e6e7e8.png");
    border: 1px solid #AEAFAF;
    height: 260px;
    margin-left: 7px;
    margin-top: 7px;
    overflow: hidden;
    padding: 5px;
    width: 450px;
}

#homepage-gallery  {
    padding-top: 8px;
}


.panels-flexible-row-1-main-row-inside,
.panels-flexible-row-1-9-inside,
.panels-flexible-row-2-main-row-inside {
    background-color: #e6e7e8;
    color: #223133;
    font-family: 'Helvetica';
    font-weight: 700;
    height: 288px;
    margin-bottom: 20px;
}


.whats-new h2.pane-title {
background:none repeat scroll 0 0 #002e5f;
-moz-border-radius-bottomright: 10px;
border-bottom-right-radius: 10px;
bottom-right-radius: 10px;
padding:5px 10px;
    font-size: 10px;
    font-weight: 700;
    height: 22px;
    line-height: 22px;
    margin: 0 10px 5px 0;
    overflow: hidden;
    padding: 0 0 0 5px;
    width: 95%;
    color: #fff;
}

.collection-list h2.pane-title {
-moz-border-radius-bottomright: 10px;
border-bottom-right-radius: 10px;
bottom-right-radius: 10px;
background:none repeat scroll 0 0 #ecac00;
padding:5px 10px;
    font-size: 10px;
    font-weight: 700;
    height: 22px;
    line-height: 22px;
    margin: 0 10px 5px 0;
    overflow: hidden;
    padding: 0 0 0 5px;
    width: 95%;
    color: #fff;
}

.view-viewsslideshow .views-content-title {
-moz-border-radius-bottomright: 10px;
border-bottom-right-radius: 10px;
bottom-right-radius: 10px;
background:none repeat scroll 0 0 #333;
padding:5px 10px;
    font-size: 11px;
    font-weight: 700;
    height: 20px;
    line-height: 22px;
    margin: 0 10px 5px 0;
    overflow: hidden;
    padding: 0 0 0 5px;
    width: 95%;
    color: #fff;
}

.view-viewsslideshow .views-field-title {
    background-color: #e6e7e8;
    height: 55px;
    margin-top: -55px;
    opacity: 0.7;
    width: 470px;
    color: #fff;
    bottom: 0;
}

#homepage_panel .block {
    background-color: #FFFFFF;
    border: 1px solid #D4D4D4;
    margin-bottom: 0 0 20px;
    padding: 0;
    width: 100%;
}

.panel-2col-stacked .panel-col-last {
margin: 8px 0 10px 0;
padding-left: 0;
}

.panel-2col-stacked .panel-col-last .inside {
    margin: 0;
}

#homepage_panel .block .pane-content {
    padding: 3px;
}

.collection-list {
    min-height: 150px;
    height: auto !important;
    height: 150px;
    width: 100%;
}

.view-viewsslideshow .views-content-title a {
padding: 10px;
}

.view-viewsslideshow .activeSlide .views-field-counter {
color: #fff;
background: url(../images/rotator_pager_active_bg.png) no-repeat 1px 1px transparent;
}

#views_slideshow_thumbnailhover_teaser_section_viewsslideshow-block_1 {
display: block;
clear: both;
height: 280px;
}

#views_slideshow_thumbnailhover_breakout_teasers_viewsslideshow-block_1 {
width: 97px;
}

.view-viewsslideshow .views-slideshow-controls-bottom {
float: right;
padding-top: 3px;
}


.view-viewsslideshow .views-field-nothing {
float: right;
font-style: italic;
font-size: 90%;
margin-top: -20px;
margin-right: 10px;
z-index: 99;
position: relative;
}

.view-viewsslideshow .views-field-counter {
display: inline-block;
float: left;
padding: 0 5px 0 5px;
margin: 0 0.1em 0 0.1em;
color: #000;
background: url(../images/rotator_pager_bg.png) no-repeat 1px 1px transparent;
font-size: 95%;
cursor: pointer; 
cursor: hand;
z-index: 999;
}
