/* Header */

#headercontent-inner {
background: url(../images/header.png) 0 0 transparent;
}

#headercontent-wrapper .section {
margin-bottom: 2px;
border-bottom: 1px solid #B8B6B8;
}

#site-name {
   font-size: 200%;		
   line-height: 100%;
}

#site-slogan {
margin-top: -3px;
}

#header {
color: #000000;
}

#header a:link {
    color: #000000;
}
#header a:visited {
    color: #000000;
}
#header a:hover, #header a:focus {
    color: #000000;
}
#header a:active {
    color: #000000;
}

/* Navbar */

#navbar-wrapper {
background: url(../images/navbar-right.png) repeat-x 0 0 #B8B6B8;
height: 27px;
border-bottom: 1px solid #B8B6B8;
margin-top: -8px;
}

#logo {
     border-right: 0pt;
     float: left;
     margin: 0pt;
     padding: 0pt 15px 0pt 20px;
}

#navbar-wrapper .column.NavbarLeft {
background: url(../images/navbar-left.png) repeat-x scroll 0 0 transparent;
height: 27px
}

#nav ul.menu  li.active-trail,
#nav ul.menu  li:hover, 
#nav .menu li li:hover, 
#nav .menu li li li:hover,
#superfish ul.menu  li.active-trail,
#superfish ul.menu  li:hover, 
#superfish .menu li li:hover, 
#superfish .menu li li li:hover {
        background: url(../images/nav-hv.png) repeat-x 0 0 transparent;
}

#navigation {
color: #fff;
}

#navigation .section {
    line-height: 1em;
}

#navigation a:link {
    color: #fff;
}
#navigation a:visited {
    color: #fff;
}
#navigation a:hover, #header a:focus {
    color: #161616;
}
#navigation a.active {
    color: #161616;
    background: url(../images/nav-hv.png) repeat-x 0 0 transparent;
}


/* Feature & Panels */

.front #feature-wrapper .region {
height: 282px;
}

.center-wrapper {
    color: #222;
}

.region-sidebar-first .block h2.title, 
.region-sidebar-second .block h2.title, 
div.admin-panel h3,
.whats-new h2.pane-title {
background-color: #fcfbf7;
color: #79abe0;
}

.collection-list h2.pane-title {
background-color: #79abe0;
}

#homepage_panel .whats-new {
    background-color: #e6e7e8;
}


