/* Header */

#headercontent-inner {
background: url(../images/header.png) 0 0 transparent;
}

#headercontent-wrapper .section {
margin-bottom: 2px;
border-bottom: 1px solid #B8B6B8;
}

#site-name {
line-height: 80%;
font-size: 170%;
}

#site-slogan {
margin-top: -3px;
font-size: 120%;
}

#header {
color: #161616;
}

#header a:link {
    color: #5a0000;
}
#header a:visited {
    color: #5a0000;
}
#header a:hover, #header a:focus {
    color: #5a0000;
}
#header a:active {
    color: #5a0000;
}

/* Navbar */
/*
#navbar-wrapper {
background: url(../images/navbar-right.png) repeat-x 0 0 #B8B6B8;
height: 27px;
border-bottom: 1px solid #B8B6B8;
}

#navbar-wrapper .column.NavbarLeft {
background: url(../images/navbar-left.png) repeat-x scroll 0 0 transparent;
height: 27px
}
*/
#navbar-wrapper {
background: #5a0000;
height: 28px;
border-bottom: 1px solid #B8B6B8;
}

#navbar-wrapper .column.NavbarLeft {
background: #5a0000;
height: 28px
}

#nav ul.menu  li.active-trail,
#nav ul.menu  li:hover, 
#nav .menu li li:hover, 
#nav .menu li li li:hover,
#superfish ul.menu  li.active-trail,
#superfish ul.menu  li:hover, 
#superfish .menu li li:hover, 
#superfish .menu li li li:hover {
        background: url(../images/nav-hv.png) repeat-x 0 0 transparent;
}

#navigation .NavbarLeft {
color: #000;
}

#navigation .section {
    line-height: 1em;
}

#navigation a:link {
    color: #FFFFE6;
}
#navigation a:visited {
    color: #FFFFE6;
}
#navigation a:hover, #header a:focus {
    color: #FFFFE6;
}
#navigation a.active {
    color: #FFFFE6;
}















/* Feature & Panels */

.front #feature-wrapper .region {
height: 282px;
}

.center-wrapper {
    color: #222;
}

.region-sidebar-first .block h2.title, 
.region-sidebar-second .block h2.title, 
div.admin-panel h3,
.whats-new h2.pane-title {
background-color: #9c524a;
color: #FFF;
}

.collection-list h2.pane-title {
background-color: #5a0000;
color: #FFFFE6;
}


