/* Header */

#headercontent-inner {
background: url(../images/header.png) 0 0 transparent;
}

#headercontent-wrapper .section {
margin-bottom: 2px;
border-bottom: 1px solid #B8B6B8;
}

#site-name {
    font-size: 160%;
    line-height: 90%;
}

#site-slogan {
    font-size: 100%;
}

#header {
color: #fff;
}

#header a:link {
    color: #fff;
}
#header a:visited {
    color: #fff;
}
#header a:hover, #header a:focus {
    color: #fff;
}
#header a:active {
    color: #fff;
}

/* Navbar */

#navbar-wrapper {
background: url(../images/navbar-right.png) repeat-x 0 0 #B8B6B8;
height: 27px;
border-bottom: 1px solid #B8B6B8;
margin-top: -8px;
}

#navbar-wrapper .column.NavbarLeft {
background: url(../images/navbar-left.png) repeat-x scroll 0 0 transparent;
height: 27px;
color: #000;
}

#nav ul.menu  li.active-trail,
#nav ul.menu  li:hover, 
#nav .menu li li:hover, 
#nav .menu li li li:hover,
#superfish ul.menu  li.active-trail,
#superfish ul.menu  li:hover, 
#superfish .menu li li:hover, 
#superfish .menu li li li:hover {
        background: url(../images/nav-hv.png) repeat-x 0 0 transparent;
}

#navigation .section {
    line-height: 1em;
}

#navigation a:link {
    color: #fff;
}
#navigation a:visited {
    color: #fff;
}
#navigation a:hover, #header a:focus {
    color: #fff;
}
#navigation a.active {
    color: #fff;
}


/* Feature & Panels */


.center-wrapper {
    color: #222;
}

.region-sidebar-first .block h2.title, 
.region-sidebar-second .block h2.title, 
div.admin-panel h3,
.whats-new h2.pane-title {
background-color: #00447c;
color: #FFF;
}

.collection-list h2.pane-title {
background-color: #007dc3;
color: #fff;
}


